html, body { 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
  margin: 0;
  color: #ffffff;
  background-color: #000000;
}
h1 {
  margin: 0;
  padding: 20px;
  font-size: x-large;
  font-weight: normal;
  color: #ffffff;
}
.container {
  text-align: center;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button img {
  width: 130px;
  height: 100px;
}
